html, body{
	margin: 0;
	padding: 0;
	font-family: "Roboto", sans-serif;
}

.button{
	cursor: pointer;
	display: inline-block;
	box-sizing: border-box;
	height: 36px;
	border: none;
	margin: 3px;
	border-radius: 14px;
	text-decoration: none;
	font-size: 16px;
	padding: 8px 16px;
	outline: none;
	transition: all .2s;
	font-family: "Roboto", sans-serif;
}

.button.simple_button.primary{
	background-color: #2D60FA;
	color: #EEEEEE;
}

.button.simple_button.primary:hover{
	background-color: #EEEEEE;
	color: #333333;
	box-shadow: inset 0 0 0 2px #2D60FA;
}

.button.simple_button.primary:active{
	background-color: #EEEEEE;
	color: #333333;
	box-shadow: inset 0 0 0 3px #2D60FA;
}

.button.simple_button.seconary{
	background-color: #ACAAAA;
	color: #EEEEEE;
}

.button.simple_button.seconary:hover{
	background-color: #EEEEEE;
	color: #333333;
	box-shadow: inset 0 0 0 2px #ACAAAA;
}

.button.simple_button.seconary:active{
	background-color: #EEEEEE;
	color: #333333;
	box-shadow: inset 0 0 0 3px #ACAAAA;
}

.button.simple_button.success{
	background-color: #04CC40;
	color: #EEEEEE;
}

.button.simple_button.success:hover{
	background-color: #EEEEEE;
	color: #333333;
	box-shadow: inset 0 0 0 2px #04CC40;
}

.button.simple_button.success:active{
	background-color: #EEEEEE;
	color: #333333;
	box-shadow: inset 0 0 0 3px #04CC40;
}

.button.simple_button.danger{
	background-color: #DF0202;
	color: #EEEEEE;
}

.button.simple_button.danger:hover{
	background-color: #EEEEEE;
	color: #333333;
	box-shadow: inset 0 0 0 2px #DF0202;
}

.button.simple_button.danger:active{
	background-color: #EEEEEE;
	color: #333333;
	box-shadow: inset 0 0 0 3px #DF0202;
}

.button.simple_button.warning{
	background-color: #EEFF00;
	color: #333333;
}

.button.simple_button.warning:hover{
	background-color: #EEEEEE;
	color: #333333;
	box-shadow: inset 0 0 0 2px #EEFF00;
}

.button.simple_button.warning:active{
	background-color: #EEEEEE;
	color: #333333;
	box-shadow: inset 0 0 0 3px #EEFF00;
}

.button.simple_button.info{
	background-color: #02E0A9;
	color: #EEEEEE;
}

.button.simple_button.info:hover{
	background-color: #EEEEEE;
	color: #333333;
	box-shadow: inset 0 0 0 2px #02E0A9;
}

.button.simple_button.info:active{
	background-color: #EEEEEE;
	color: #333333;
	box-shadow: inset 0 0 0 3px #02E0A9;
}

.button.simple_button.light{
	background-color: #E26EE2;
	color: #EEEEEE;
}

.button.simple_button.light:hover{
	background-color: #EEEEEE;
	color: #333333;
	box-shadow: inset 0 0 0 2px #E26EE2;
}

.button.simple_button.light:active{
	background-color: #EEEEEE;
	color: #333333;
	box-shadow: inset 0 0 0 3px #E26EE2;
}

.button.simple_button.dark{
	background-color: #720172;
	color: #EEEEEE;
}

.button.simple_button.dark:hover{
	background-color: #EEEEEE;
	color: #333333;
	box-shadow: inset 0 0 0 2px #720172;
}

.button.simple_button.dark:active{
	background-color: #EEEEEE;
	color: #333333;
	box-shadow: inset 0 0 0 3px #720172;
}

.button.simple_button.link{
	background-color: #3BCAE4;
	color: #EEEEEE;
}

.button.simple_button.link:hover{
	background-color: #EEEEEE;
	color: #333333;
	box-shadow: inset 0 0 0 2px #3BCAE4;
}

.button.simple_button.link:active{
	background-color: #EEEEEE;
	color: #333333;
	box-shadow: inset 0 0 0 3px #3BCAE4;
}

.button.outline_button{
	background-color: #EEEEEE;
	color: #333333;
}

.button.outline_button.primary{
	box-shadow: inset 0 0 0 2px #2D60FA;
}

.button.outline_button.primary:hover{
	background-color: #2D60FA;
	color: #EEEEEE;
}

.button.outline_button.seconary{
	box-shadow: inset 0 0 0 2px #ACAAAA;
}

.button.outline_button.seconary:hover{
	background-color: #ACAAAA;
	color: #EEEEEE;
}

.button.outline_button.success{
	box-shadow: inset 0 0 0 2px #04CC40;
}

.button.outline_button.success:hover{
	background-color: #04CC40;
	color: #EEEEEE;
}

.button.outline_button.danger{
	box-shadow: inset 0 0 0 2px #DF0202;
}

.button.outline_button.danger:hover{
	background-color: #DF0202;
	color: #EEEEEE;
}

.button.outline_button.warning{
	box-shadow: inset 0 0 0 2px #EEFF00;
}

.button.outline_button.warning:hover{
	background-color: #EEFF00;
	color: #333333;
}

.button.outline_button.info{
	box-shadow: inset 0 0 0 2px #02E0A9;
}

.button.outline_button.info:hover{
	background-color: #02E0A9;
	color: #EEEEEE;
}

.button.outline_button.light{
	box-shadow: inset 0 0 0 2px #E26EE2;
}

.button.outline_button.light:hover{
	background-color: #E26EE2;
	color: #EEEEEE;
}

.button.outline_button.dark{
	box-shadow: inset 0 0 0 2px #720172;
}

.button.outline_button.dark:hover{
	background-color: #720172;
	color: #EEEEEE;
}

.button.outline_button.link{
	box-shadow: inset 0 0 0 2px #3BCAE4;
}

.button.outline_button.link:hover{
	background-color: #3BCAE4;
	color: #EEEEEE;
}

.button.outline_dark_button{
	background-color: #333333;
	color: #EEEEEE;
}

.button.outline_dark_button.primary{
	box-shadow: inset 0 0 0 2px #2D60FA;
}

.button.outline_dark_button.primary:hover{
	background-color: #2D60FA;
}

.button.outline_dark_button.seconary{
	box-shadow: inset 0 0 0 2px #ACAAAA;
}

.button.outline_dark_button.seconary:hover{
	background-color: #ACAAAA;
}

.button.outline_dark_button.success{
	box-shadow: inset 0 0 0 2px #04CC40;
}

.button.outline_dark_button.success:hover{
	background-color: #04CC40;
}

.button.outline_dark_button.danger{
	box-shadow: inset 0 0 0 2px #DF0202;
}

.button.outline_dark_button.danger:hover{
	background-color: #DF0202;
}

.button.outline_dark_button.warning{
	box-shadow: inset 0 0 0 2px #EEFF00;
}

.button.outline_dark_button.warning:hover{
	background-color: #EEFF00;
	color: #333333;
}

.button.outline_dark_button.info{
	box-shadow: inset 0 0 0 2px #02E0A9;
}

.button.outline_dark_button.info:hover{
	background-color: #02E0A9;
}

.button.outline_dark_button.light{
	box-shadow: inset 0 0 0 2px #E26EE2;
}

.button.outline_dark_button.light:hover{
	background-color: #E26EE2;
}

.button.outline_dark_button.dark{
	box-shadow: inset 0 0 0 2px #720172;
}

.button.outline_dark_button.dark:hover{
	background-color: #720172;
}

.button.outline_dark_button.link{
	box-shadow: inset 0 0 0 2px #3BCAE4;
}

.button.outline_dark_button.link:hover{
	background-color: #3BCAE4;
}

.button.outline_dark_button_2{
	background-color: #333333;
	color: #EEEEEE;
}

.button.outline_dark_button_2:hover{
	background-color: #EEEEEE;
	color: #333333;
}

.button.outline_dark_button_2.primary{
	box-shadow: inset 0 0 0 2px #2D60FA;
}

.button.outline_dark_button_2.primary:active{
	box-shadow: inset 0 0 0 3px #2D60FA;
}

.button.outline_dark_button_2.seconary{
	box-shadow: inset 0 0 0 2px #ACAAAA;
}

.button.outline_dark_button_2.seconary:active{
	box-shadow: inset 0 0 0 3px #ACAAAA;
}

.button.outline_dark_button_2.success{
	box-shadow: inset 0 0 0 2px #04CC40;
}

.button.outline_dark_button_2.success:active{
	box-shadow: inset 0 0 0 3px #04CC40;
}

.button.outline_dark_button_2.danger{
	box-shadow: inset 0 0 0 2px #DF0202;
}

.button.outline_dark_button_2.danger:active{
	box-shadow: inset 0 0 0 3px #DF0202;
}

.button.outline_dark_button_2.warning{
	box-shadow: inset 0 0 0 2px #EEFF00;
}

.button.outline_dark_button_2.warning:active{
	box-shadow: inset 0 0 0 3px #EEFF00;
}

.button.outline_dark_button_2.info{
	box-shadow: inset 0 0 0 2px #02E0A9;
}

.button.outline_dark_button_2.info:active{
	box-shadow: inset 0 0 0 3px #02E0A9;
}

.button.outline_dark_button_2.light{
	box-shadow: inset 0 0 0 2px #E26EE2;
}

.button.outline_dark_button_2.light:active{
	box-shadow: inset 0 0 0 3px #E26EE2;
}

.button.outline_dark_button_2.dark{
	box-shadow: inset 0 0 0 2px #720172;
}

.button.outline_dark_button_2.dark:active{
	box-shadow: inset 0 0 0 3px #720172;
}

.button.outline_dark_button_2.link{
	box-shadow: inset 0 0 0 2px #3BCAE4;
}

.button.outline_dark_button_2.link:active{
	box-shadow: inset 0 0 0 3px #3BCAE4;
}

.button.gradient_button{
	background: #EEEEEE;
	color: #333333;
}

.button.gradient_button.primary{
	background-image: linear-gradient(to bottom right, #2D60FA, #EEEEEE);
}

.button.gradient_button.primary:hover{
	box-shadow: inset 0 0 0 2px #2D60FA;
}

.button.gradient_button.primary:active{
	box-shadow: inset 0 0 0 3px #2D60FA;
}

.button.gradient_button.seconary{
	background-image: linear-gradient(to bottom right, #ACAAAA, #EEEEEE);
}

.button.gradient_button.seconary:hover{
	box-shadow: inset 0 0 0 2px #ACAAAA;
}

.button.gradient_button.seconary:active{
	box-shadow: inset 0 0 0 3px #ACAAAA;
}

.button.gradient_button.success{
	background-image: linear-gradient(to bottom right, #04CC40, #EEEEEE);
}

.button.gradient_button.success:hover{
	box-shadow: inset 0 0 0 2px #04CC40;
}

.button.gradient_button.success:active{
	box-shadow: inset 0 0 0 3px #04CC40;
}

.button.gradient_button.danger{
	background-image: linear-gradient(to bottom right, #DF0202, #EEEEEE);
}

.button.gradient_button.danger:hover{
	box-shadow: inset 0 0 0 2px #DF0202;
}

.button.gradient_button.danger:active{
	box-shadow: inset 0 0 0 3px #DF0202;
}

.button.gradient_button.warning{
	background-image: linear-gradient(to bottom right, #EEFF00, #EEEEEE);
}

.button.gradient_button.warning:hover{
	box-shadow: inset 0 0 0 2px #EEFF00;
}

.button.gradient_button.warning:active{
	box-shadow: inset 0 0 0 3px #EEFF00;
}

.button.gradient_button.info{
	background-image: linear-gradient(to bottom right, #02E0A9, #EEEEEE);
}

.button.gradient_button.info:hover{
	box-shadow: inset 0 0 0 2px #02E0A9;
}

.button.gradient_button.info:active{
	box-shadow: inset 0 0 0 3px #02E0A9;
}

.button.gradient_button.light{
	background-image: linear-gradient(to bottom right, #E26EE2, #EEEEEE);
}

.button.gradient_button.light:hover{
	box-shadow: inset 0 0 0 2px #E26EE2;
}

.button.gradient_button.light:active{
	box-shadow: inset 0 0 0 3px #E26EE2;
}

.button.gradient_button.dark{
	background-image: linear-gradient(to bottom right, #720172, #EEEEEE);
}

.button.gradient_button.dark:hover{
	box-shadow: inset 0 0 0 2px #720172;
}

.button.gradient_button.dark:active{
	box-shadow: inset 0 0 0 3px #720172;
}

.button.gradient_button.link{
	background-image: linear-gradient(to bottom right, #3BCAE4, #EEEEEE);
}

.button.gradient_button.link:hover{
	box-shadow: inset 0 0 0 2px #3BCAE4;
}

.button.gradient_button.link:active{
	box-shadow: inset 0 0 0 3px #3BCAE4;
}

.button.button.gradient_button_2{
	background-color: #EEEEEE;
	color: #EEEEEE;
}

.button.gradient_button_2.primary{
	background: linear-gradient(to bottom right, #2D60FA, #02E0A9);
}

.button.gradient_button_2.primary:hover{
	box-shadow: inset 0 0 0 2px #2D60FA;
}

.button.gradient_button_2.primary:active{
	background: linear-gradient(to bottom right, #02E0A9, #2D60FA);
}

.button.gradient_button_2.seconary{
	background-image: linear-gradient(to bottom right, #ACAAAA, #333333);
}

.button.gradient_button_2.seconary:hover{
	box-shadow: inset 0 0 0 2px #ACAAAA;
}

.button.gradient_button_2.seconary:active{
	background-image: linear-gradient(to bottom right, #333333, #ACAAAA);
}

.button.gradient_button_2.success{
	background-image: linear-gradient(to bottom right, #04CC40, #EEFF00);
}

.button.gradient_button_2.success:hover{
	box-shadow: inset 0 0 0 2px #04CC40;
}

.button.gradient_button_2.success:active{
	background-image: linear-gradient(to bottom right, #EEFF00, #04CC40);
}

.button.gradient_button_2.danger{
	background-image: linear-gradient(to bottom right, #DF0202, #2D60FA);
}

.button.gradient_button_2.danger:hover{
	box-shadow: inset 0 0 0 2px #DF0202;
}

.button.gradient_button_2.danger:active{
	background-image: linear-gradient(to bottom right, #2D60FA, #DF0202);
}

.button.gradient_button_2.warning{
	background-image: linear-gradient(to bottom right, #EEFF00, #E26EE2);
}

.button.gradient_button_2.warning:hover{
	box-shadow: inset 0 0 0 2px #EEFF00;
}

.button.gradient_button_2.warning:active{
	background-image: linear-gradient(to bottom right, #E26EE2, #EEFF00);
}

.button.gradient_button_2.info{
	background-image: linear-gradient(to bottom right, #02E0A9, #2D60FA);
}

.button.gradient_button_2.info:hover{
	box-shadow: inset 0 0 0 2px #02E0A9;
}

.button.gradient_button_2.info:active{
	background-image: linear-gradient(to bottom right, #2D60FA, #02E0A9);
}

.button.gradient_button_2.light{
	background-image: linear-gradient(to bottom right, #E26EE2, #02E0A9);
}

.button.gradient_button_2.light:hover{
	box-shadow: inset 0 0 0 2px #E26EE2;
}

.button.gradient_button_2.light:active{
	background-image: linear-gradient(to bottom right, #02E0A9, #E26EE2);
}

.button.gradient_button_2.dark{
	background-image: linear-gradient(to bottom right, #720172, #E26EE2);
}

.button.gradient_button_2.dark:hover{
	box-shadow: inset 0 0 0 2px #720172;
}

.button.gradient_button_2.dark:active{
	background-image: linear-gradient(to bottom right, #E26EE2, #720172);
}

.button.gradient_button_2.link{
	background-image: linear-gradient(to bottom right, #3BCAE4, #04CC40);
}

.button.gradient_button_2.link:hover{
	box-shadow: inset 0 0 0 2px #3BCAE4;
}

.button.gradient_button_2.link:active{
	background-image: linear-gradient(to bottom right, #04CC40, #3BCAE4);
}
